.Pw_tooltip:hover:after {
    background: rgba(10, 10, 10, 0.7);
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: auto;
	margin-left: 50px;
	text-align:left;
	content: "-At least one upper- and lowercase letter \A-One number \A-A symbol (@, &, !, $) \A-Length of 6";
	white-space: pre;
}

.Pw_tooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0px 6px;
    content: "";
    position: absolute;
    z-index: 99;
	transform: rotate(90deg);
	margin-top: 10px;
	margin-left: 241px;
}

.center {
	margin-top: 10%;
	text-align: center;
}

.spacing {
	padding: 3px;
}

.logo {
	width: 500px;
	height: 134px;
	float: center;
	margin-bottom: 25px;
}

.item1 {
	display: inline-table;
	width: 100px;
	height: 20px;
	float: left;
	text-align: left;
	font-weight: bold;
}

.row {
	width: 320px;
	margin: auto;
}

.round {
	border-radius: 0px;
	padding: 5px 15px 5px 15px;
	border-style:none;
}

.container {
	width: 350px;
	margin: auto;
	padding: 10px;
	background: rgba(10, 10, 10, 0.7);
	z-index: -1;
	border-radius: 10px;
	color: white;
}

.pw_strength {
	width: 171px;
	height: 5px;
	margin-top: 0px;
	margin-left: 125px;
	margin-bottom: 5px;
}

.easy, .medium, .hard {
	height: 5px;
	width: 57px;
	display: none;
}

.easy{
	background-color: red;
}

.medium{
	background-color: yellow;
}

.hard{
	background-color: green;
}

.hint {
	font-weight: bold;
	color: white;
}

.list {
	display: block;
	margin: auto;
}

.helpbox {
	width: 250px;
	margin: 15px auto auto auto;
	padding: 5px 0px 10px 0px;
	background: rgba(10, 10, 10, 0.7);
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: left;
}

body {
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

input[type="text"]:focus, input[type="password"]:focus {
	outline: none;
    border-color: #950101;
    box-shadow: 0px 0px 20px #950101;
}

input[type="submit"] {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	outline: none;
	transition: 0.3s;
	transition-timing-function: ease-out;
	padding: 5px 15px 5px 15px;
	border-style:none;
}

input[type="submit"]:hover {
	color: #950101;
	background-color: #FCFCFC;
}