.center {
	margin-top: 10%;
	text-align: center;
}

.spacing {
	padding: 3px;
}

.logo {
	float: center;
	margin-bottom: 25px;
}

.item1 {
	display: inline-table;
	width: 120px;
	height: 20px;
	float: left;
	text-align: left;
	font-weight: bold;
}

.row {
	width: 300px;
	margin: auto;
}

.pw_strength {
	width: 171px;
	height: 5px;
	margin-top: 0px;
	margin-left: 125px;
	margin-bottom: 5px;
}

.easy, .medium, .hard {
	height: 5px;
	width: 57px;
	display: none;
}

.easy{
	background-color: red;
}

.medium{
	background-color: yellow;
}

.hard{
	background-color: green;
}

#hint {
	font-weight: bold;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float:left;
}

body {
	background-image: url("../img/bg.jpg");
	background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

input[type="text"]:focus, input[type="password"]:focus {
	outline: none;
    border-color: #950101;
    box-shadow: 0 0 10px #950101;
}